<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">

    <%# Meta tags %>
    <meta charset="utf-8"/>
    <%= render "layouts/seo" -%>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <% unless Rails.env == "production" %>
      <meta name="robots" content="noindex,nofollow"/>
    <% end  %>
    <%= yield :meta %>

    <script>
      Ornament = window.Ornament || {};
      // dataLayer = window.dataLayer = {};
    </script>

    <%# Styles %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= yield :styles %>

    <%# Scripts %>
    <%= javascript_include_tag "ornament/vendor" %>
    <%= javascript_include_tag "application" %>
    <%= yield :scripts %>

    <%# Google Tag Manager - GTM-XXXXXXX %>
    <%- gtm_code = get_koi_site_setting("site.gtm_code") -%>
    <%- if gtm_code -%>
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','<%= gtm_code -%>');</script>
    <%- end -%>

    <%# Webfonts %>
    <%#= render "layouts/webfonts", config: {
      google: {
        families: ['Open Sans:400,700,400italic,700italic'],
      }
    } -%>

    <%# Koi Scripts %>
    <%- koi_scripts = get_koi_site_setting("site.head_scripts") -%>
    <%= koi_scripts if koi_scripts -%>

    <% if user_signed_in? %>
      <script>
        Ornament.User = {
          id: <%= current_user.id %>
        }
      </script>
    <% end %>

  </head>

  <body class="styleguide <%= yield :body_class -%>"> 
    <%- if gtm_code -%>
      <%# Google Tag Manager (noscript Version) %>
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= gtm_code -%>" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <%- end -%>

    <a class="skip-link" href="#main">skip to content</a>

    <div class="layout tray-container" data-tray-layout>

      <div class="tray" data-tray>
        <nav aria-label="Global Navigation" role="navigation">
          <ul>
            <li>Mobile menu TBD</li>
          </ul>
        </nav>
      </div>

      <div class="tray--page layout--content environment-<%= Rails.env -%>" data-tray-page>

        <header class="header" role="banner">
          <div class="layout--container">
            <h1 class="header--logo heading-four">
              <%= link_to "KoiPWA Sandbox", root_path -%>
            </h1>
            <button class="header--menu" aria-label="Toggle menu" data-tray-anchor>
              <%= icon("hamburger", fill: "#ffffff", width: 25, height: 23) -%>
            </button>
          </div>
        </header>

        <div data-layout-positioner class="layout--positioner tray--open-overlay">
          <div class="header--navigation navigation">
            <div class="layout--container">
              <nav>
                <ul>
                  <li><%= link_to "Koi Pages", koi_pages_path -%></li>
                  <%- if user_signed_in? -%>
                    <li><%= link_to "Log Out", destroy_user_session_path, method: :delete, data: { user_logout: "" } -%></li>
                  <%- else -%>
                    <li><%= link_to "Log In", new_user_session_path, data: { user_login: "" } -%></li>
                    <li><%= link_to "Register", new_user_registration_path, data: { user_register: "" } -%></li>
                  <%- end -%>
                </ul>
              </nav>
            </div>
          </div>
          <%= render "/shared/oldie" -%>
          <%= yield :above_layout -%>
          <%= render "/shared/flash" -%>
          <%- if content_for?(:global) || !yield.blank? -%>
            <a id="main" name="main" tabindex="-1"></a>
            <main class="layout--main <%= yield(:layout_class) -%>" role="main">
              <div class="layout--container">
                <%= content_for?(:global) ? yield(:global) : yield %>
              </div>
            </main>
          <%- end -%>
          <%= yield :below_layout -%>
          <footer class="footer" role="contentinfo">
            <div class="layout--container">
              footer
            </div>
          </footer>
        </div>
      </div>

    </div>

    <%= yield :scripts_bottom %>
    
    <%= render "layouts/analytics" -%>

    <div data-ornament-icons>
      <div data-ornament-icon="chevron-left"><%= icon("chevron_left") -%></div>
      <div data-ornament-icon="chevron-right"><%= icon("chevron_right") -%></div>
      <div data-ornament-icon="close"><%= icon("close") -%></div>
    </div>

    <div data-credentials-modals>
      <%= render layout: "shared/inline_lightbox", locals: { inline_id: "user-login" } do -%>
        <div class="panel--padding spacing">
          <h2 class="heading-four">Login to KoiPWA</h2>
          <%= render "/users/sessions/form" -%>
        </div>
      <%- end -%>
      <%= render layout: "shared/inline_lightbox", locals: { inline_id: "user-register" } do -%>
        <div class="panel--padding spacing">
          <h2 class="heading-four">Register new user account for KoiPWA</h2>
          <%= render "/users/registrations/form" -%>
        </div>
      <%- end -%>
    </div>

  </body>

</html>
